*{
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #fff;
    color: #373C42; 
    font-size: 16px; 
    font-family: Roboto; 
    font-weight: 400; 
    line-height: 25px; 
    word-wrap: break-word;
  }
  
/*НАВИСАЮЩЕЕ ОКНО С КРЕСТИКОМ*/
#advert{
  margin-bottom: 48px;
  display: block;

  div{
    background-color: #E1E7F3;
    font-size: 13px; 
    line-height: 20px; 
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 4;
  
    button{
      position:fixed;
      right:20px;
      padding-top: 4px;
      background-color: transparent;
      border:none;
      cursor: pointer;
    }
  }
}

/*СТРЕЛОЧКА ВВЕРХ*/
.arrow-up {
  position: fixed;
  z-index: 3;
  right:0;
  top: 50%;
  cursor: pointer;
}

/*НАВИГАЦИЯ*/ 

  .header {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 2.78%;

    .logo{
      padding-left: 3.47%; }

    .menu ul {
      display: flex;
      list-style: none;

      li {
        margin: 20px 15px; }   

      a {
        text-decoration: underline 1px #9181FF;
        text-underline-offset: 6px;
        color: #373C42;
      }
    }

    .icons {
      margin-right:20px;
    }

    img {
      padding-top:3px; }

    .square {
      width: 6px;
      height: 6px;
      background-color: #9181FF;
      align-self:center;
    } 
  }

/*ЗАГЛАВНАЯ СТРАНИЦА*/
.mainpage {

  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    margin-top:33px;
    font-size: 70px; 
    line-height: 75px; 
    font-family: Yeseva One; 
    font-weight: 400; 
    text-align: center;
    padding-right: 12.5%;
    padding-left: 15.8%;
  }

  .maininfo{
    margin-top:33px;
    margin-bottom:41px;
    font-size:18px;
    color: #7F8893;
    line-height: 28px; 
    text-align: center;
    padding-right: 21.94%;
    padding-left: 24%;

    .allora-dot{
      color: #A294FF; }
  }

  p{
    margin-left:3.6%; }

  .btn{
    padding: 15px 51px;
    font-size: 15px; 
    line-height: 24px; 
    text-decoration: none; 
    border-radius: 30px; 
  }

  #btn-left{
    border: 1px solid #A294FF;
    background-color: transparent;
    color: #373C42;
    margin-right: 26px;
    text-align: center;
  }
  #btn-right{
    background-color: #9181FF;
    color: white;
    margin-left:26px;
    text-align: center;
  }

  .mainpic img{
    margin-left:2%;
    margin-top: 41px;
    width:100%;
    height: auto;
  } 

  .longline{
    width:200px;
    align-self: auto  ;
  }

  .slogan{
    margin-left:3.6%;
    ul li{
      margin: 20px 15px;
    }
  }
}

.slogan, .expect-page, .solutions, .pageheader {
  ul {
    display: flex;
    list-style: none;
    
    li {
      line-height: 24px;
      font-size: 19px; 
      font-family: Unica One; 
      font-weight: 400; 
      text-transform: uppercase;
    }
  }
}


.longline{
  border-bottom:1px solid #9181FF;
  margin-left:3.6%;
  width: 120px;
  align-self: center;
}

/*СТРАНИЧКА С КАРТИНКАМИ*/
.pics{
  padding-top: 120px;
  background-color: #ECF0F7;
  display:grid; 
  grid-template-columns: 1fr 1fr;
  align-self: center;

  .pics-left{
    margin-top:22.222%;
    grid-template-rows: repeat(1fr,3);
  }
  .pics-right{
    grid-template-rows: repeat(1fr,3);
  }

  .wrapper{
    display: grid; 
    place-items: center;
    width:100%;
    .grid{
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: 2fr 7fr; 
      grid-template-rows: 1fr 3fr;
      width: 100%;
      img{
        width:100%;}
    }
  }
}
#grid1{
  background-image: url(../images/IMAGEplus1.png); 
}
#grid2
{
  background-image: url(../images/IMAGEplus2.png); }
#grid3
{
  background-image: url(../images/IMAGEplus3.png); }
#grid4
{
  background-image: url(../images/IMAGEplus4.png); }
#grid5
{
  background-image: url(../images/IMAGEplus5.png); }
#grid6
{
  background-image: url(../images/IMAGEplus6.png); }

  /*страничка с гридом*/
h2{
  margin-top:20px;
  font-size: 40px; 
  line-height: 46px; 
  font-family: Yeseva One; 
  font-weight: 400; 
  text-align: left;
}

.info, .extra{
  font-size:18px;
  line-height: 28px; 
  text-align: left;
}

.pageheader{
  align-items: center;
  margin-left: 8.33%;
  margin-right: 9.023%;
  margin-top: 46px;
  margin-bottom: 80px;
  column-count: 2;
  .left{
    max-width: 533px;
    width: 100%;
    ul li{ /*остальное в mainpage*/
        margin: 0;
        margin-right: 16px;
      }
  }
  .right{
    -webkit-column-break-inside: avoid;
    max-width: 560px;
    width: 100%;

    .extra{
    margin-top: 35px;
    text-decoration: underline 1px;
    text-underline-offset: 9px;
    color:inherit;
    }
    a,a:visited, a:hover, a:active{
      color:#373C42;
    }
  }
}


.solutions{
  margin-left: 8.33%;
  margin-bottom: 4.167%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  .sol{
    width:79%;
    margin-bottom: 60px;

    .pic{
      align-self: left;
      img{
        max-width: 300px;
        width: 100%;
        height: auto;
      }
    }

    ul li{
      margin: 0;
      margin-right: 16px;
    }

    .info{
      max-width: 500px;
      margin-top:9px;
      font-size: 15px; 
      line-height: 25px; 
      font-family: Roboto; 
      font-weight: 400; 
      text-align: left;
    }
  }
}

h3{
  margin-top:20px;
  font-size: 26px; 
  line-height: 36px; 
  font-family: Yeseva One; 
  font-weight: 400; 
  text-align: left;
}


/*желтое*/
.verylongline{
  border-bottom:1px solid #373C42;
  margin-left: 2.083%;
  width: 95.83%;
  align-self: center;
}

.yellowfield{
  padding-top: 8.333%;
  padding-bottom: 8.333%;
  width: 100%;
  background-color: #F8FE91;

  .pageheader {
    .left{
      max-width: 505px;
    }
    .right{
      padding-top: 40px;
    }
  }

  h3{
    font-size: 35px;
    line-height: 42px;
    margin-top: 0px;
  }

  ul {
    display: flex;
    list-style: none;

    li {
      margin: 37px 0px; 
    }
      
    .num{
      margin-right: 13px;
      font-family: Unica One;
      font-size: 19px;
      line-height: 22px;
      align-content: end;
    } 
  }

  .proc01{
    margin-left: 8.055%;}
  .proc02{
    margin-left:44.86%;}
  .proc03{
    margin-left: 28.75%;}
  .proc04{
    margin-left: 62.639%;}
  .proc05{
    margin-left: 38.264%;}
  .proc06{
    margin-left: 10.278%;}
}


.bluefield{
  .bglines {
    .bgline{
      width:1px ;
      background-color:  #9687f2;
      height: 100%;
      z-index: 0;
    }
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
  }

  position: relative;

  img{
    width: 100%;
    height: auto;
  } 

  padding-top: 8.333%;
  padding-bottom: 8.333%;
  background-color: #8372F0;
  column-count: 2;

  .longline{
    width: 200px;
    border-bottom:1px solid #fff;
  }
  
  .pageheader{
    position: relative;
    z-index: 1;
    padding-left: 8.333%;
    column-count: 1;
    color:#fff;
    .right{
      margin-top: 30px;
    }
    a,a:visited, a:hover, a:active{
      color:#fff;}
  }

  .bppic{
    padding-left: 3.333%;
    padding-top: 6.666%;
    max-width: 79.86%;
    img{
      position: relative;
      z-index: 1;
    }
  }
  .quote1{
    position: absolute;
    width: 27.78%;
    top: 42.4%;
    left: 65.2%;
    z-index: 2;
  }
  
  .quote2{
    position: absolute;
    width: 27.78%;
    top:63.1%;
    left: 38%;
    z-index: 2;
  }
}

.valuespage{
  .pageheader{
    column-count: 1;
    margin-top: 120px;
    max-width: 33.72%;
    .right{
      margin-top: 30px;
    }
    .info{
      color: #7F8893;
    }
  }

  .valueblocks{
    max-width: 1200px;
    width: 100%;
    height: 500px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ABB9CA;
    border-bottom: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    position: relative;

    .squares{
      margin-top: 17px;
      .square{
        height: 13px;
        width: 13px;
        background-color: #ABB9CA;
        align-self: center;
        margin-right: 10px;
      }
      display: flex;
    }

    .valueblock{
      height: 100%;
      padding-left: 22px;
      padding-right: 22px;
      border-left: 2px solid #ABB9CA;
      position: relative;
    }
    .num1{
      border-left:none;
      padding-left: 17px;}
    .num2{
      margin-top: -148px;
    }
    .num3{
      margin-top: -346px;}
    .num4{
      margin-top: -206px;}

    h4{
      font-size: 20px;
      line-height: 23px;
      color: #373C42;
      font-weight: 400;
    }
    .smallinfo{
      max-width: 237px;
      margin-top:15px;
      font-size: 15px;
      line-height: 25px;
    }

    .valsquare{
      width: 13px;
      height: 13px;
      border: 2px solid rgba(55, 60, 66, .4);
      position: absolute;
      top: 100%;
      left: -8.5px;
      right: auto;
    }
    
  }
}

.FAQpage{
  margin-top: 120px;
  margin-bottom: 140px;
  .pageheader .info{
      color: #7F8893;
    }
  .categories{
    max-width: 83.333%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    columns: 3;

    div{
      font-size: 14px;
      padding-left: 20px  ;
      line-height: 20px;
      text-transform: uppercase;
    }
  }

  .verylongline.n1{
    width: 23.33%;
    margin-left: 8.333%;
    border-color: #ABB9CA;
    margin-top: 12px;
  }

  .verylongline.n2{
    width: 83.33%;
    margin-left: auto;
    margin-right: auto;
    border-color: #ABB9CA;
  }
  .FAQgrid{
    margin-top: 19px;
    margin-left: 8.33%;
    margin-right: 9.93%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 20px;

    .faq{
      padding-top: 26px;
      padding-bottom: 26px;
      padding-left: 30px;
      padding-right: 50px;
      max-width: 494px;
      border: 1px solid #D9D9D9;
      label{
        font-size: 20px;
        line-height: 25px;
        display: block;
        cursor: pointer;
        background: url(../images/IMAGEFAQbtn-close.png) no-repeat;
        background-position: 100% center;
        div{
          max-width: 90%;
        }
      }
      .answer {
        font-size:13px;
        line-height: 20px;
        overflow: hidden;
        padding-top: 20px;
        max-height: 0;
      } 
      input:checked ~ label {
          background-image: url(../images/IMAGEFAQbtn-open.png);
      }
      input:checked ~ .answer {
          max-height: 100%;
      }
      input#question1,input#question2,input#question3,input#question4,input#question5,input#question6 {
        display: none;
      }
    }
  }
}


.bluefield.bf2 {
  padding-bottom: 7.639%;

  .clientsgrid{
    border-top: 1px solid #9687f2;;
    border-left: 1px solid #9687f2;;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 48px;
    display: grid;
    position: relative;
  
    div{
      border: none;
      border-bottom: 1px solid #9687f2;
      border-right: 1px solid #9687f2;
      justify-content: center;
      align-items: center;
      padding: 20px;
      display: flex;
      img{
        max-width:max-content;
      }
      position: relative;
    }
    .num1,.num4,.num7{
      margin-bottom: -5px;
    }
    .num2,.num5,.num8{
      margin-bottom: -10px;
    }
    .num3,.num6,.num9{
        margin-bottom: -20px;}  
  }

  .pageheader{
    -webkit-column-break-inside: avoid;
    margin-bottom: 0px;
    .info{
      margin-top: 24px;
    }
    .bppic{
      padding-top: 6.805%;
    }
  }
}

.contactpage{
  .pageheader{
    column-count: 1;
    margin-top: 9.305%;
    max-width: 545px;
    h2{
      max-width: 450px;
    }
    .right{
      margin-top: 30px;
    }
    .info{
      color: #616161;
    }
  } 
  .contactcards{
    margin-top:84px;
    margin-left: 8.33%;
    margin-right: 8.33%;
    display: grid;
    grid-template-areas: 
      "A B"
      "A C";
    grid-column-gap: 70px;
    grid-row-gap: 78px;
    position: relative;

    .contact{
      background-color: #9181ff;
      border-radius: 3px;
      flex-direction: column;
      align-items: flex-start;
      padding: 40px;
      display: flex;
      position: relative;
      max-width: 94.167%;

      .conttitle{
        font-family: Unica One;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #fff;
      }
      .continfo{
        font-size:15px;
        line-height: 25px;
        color: #fff;
        margin-top: 10px;
        max-width: 95%;
      }
      .contlink{
        font-size: 17px;
        line-height: 25px;
        margin-top: 35px;
        text-decoration: underline 1px;
        text-underline-offset: 9px;
        color:inherit;
      }
      a,a:visited, a:hover, a:active{
          color:#373C42;
      }
      .circle{
        width: 55px;
        height: 55px;
        background-color: #C4BCEC;
        font-family: Unica One;
        font-size: 17px;
        line-height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 14px;
        left: -23px;
      }
    }

    .contact.c01{
      grid-area: A;
      padding-bottom: 100px;
      .input-form{
        margin-top: 56px;
        width: 100%;
        form{
          display: flex;
          flex-direction: column;
          width:100%;
        }
        input,textarea{
          border: 1px solid #CCCCCC;
          font-size: 15px;
          line-height: 25px;
          border-radius: 3px;
          margin-bottom: 16px;
          padding-left: 27px;
          padding-top: 14px;
          padding-bottom: 14px;
          text-align: start;
        }
        textarea{
          resize: none;
          font-family: Roboto;
          height: 130px;
        }
        input::placeholder,textarea::placeholder{
          color: #000000;
          text-align: start;
        }
      }
    }
    .contact.c02{
      grid-area: B;
    }
    .contact.c03{
      grid-area: C;
      position: relative;
      margin-bottom: -32px;
      .lastline{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
      }
    }
  }
}

.linkspage{
  margin-bottom: 5px;
  margin-top: 134px;
  .title{
    font-family: Unica One;
    font-size: 19px;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 46.25%;
  }

  .header {
    margin-bottom: 50px;
    flex-direction: column;
    .menu li {
      margin-right:0;
      margin-left: 25px;  
    }
    .square {
      background-color: #7F8893;
    } 
  }
}

.copyright{
  background-color: #292E36;
  padding-bottom: 45px;
  .container{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    p{
      font-size: 15px;
      line-height: 25px;
      color: #fff;
    }
    .company{
      font-size: 14px;
      line-height: 20px;
      margin-top: 2px;
      margin-left: 5px;
    }
    a,a:visited, a:hover, a:active{
      text-decoration: none;
      color: #9181FF;
    }
  }
  .links{
    margin-top: 18px;
    display: block;
    text-align: center;

    div{
      color: #ABB9CA;
      font-size:20px;
      line-height: 20px;
      padding-right: 10px;
      display:inline-block;
    }
    a,a:visited, a:hover, a:active{
      text-decoration: none;
      color: #ABB9CA;
      font-size:13px;
    }
  }
}



@media screen and (max-width: 1300px) { 
  .valuespage .valueblocks{
    width:95.2%;
  }
}

@media screen and (max-width: 1050px) { 
  .bluefield{
    .pageheader {
      margin-left:0;
      .right{
        padding-top: 0px;
      }
    }

    column-count: 1;

    .bppic{
      padding-top: 0;
      max-width: 50.86%;
      margin-left: 30%;
      padding-left: 0;
    }
    .quote1{
      width: 45%;
      top:auto;
      bottom: 30%;
      left: 7%;
    }
    .quote2{
      width: 45%;
      top:auto;
      bottom: 10%;
      left: 50.8%;
    }
  }

  .bluefield.bf2 .bppic{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1000px) { 
  .mainpage h1{
    font-size: 49px; 
    line-height: 52.5px; 
    padding-right: 10.2%;
    padding-left: 10.2%;
  }    

  .mainpage .maininfo{
    padding-left: 15%;
    padding-right: 15%;
  }

  .mainpic{
    width:95%;
    margin-right: 1.5%;
  }

  .pageheader{
    column-count: 1;
    .right{
      margin-top: 30px;
    }
  }

  .yellowfield .pageheader .right{
    padding-top: 0px;
  }

  .contactpage .contactcards{
      grid-template-areas: 
        "A"
        "B"
        "C";
    }
}

@media screen and (max-width: 890px) {
  .header  {
    margin-left:5%; 
    flex-direction: column;
    padding-right: 0;

    .logo {
      padding-left: 0; }

    .menu ul {
      flex-direction: column;
      align-self: center;

      li{
        margin: 2px;
        align-self: center; }
    }
  }
  .yellowfield h3{
    font-size: 28px;
    line-height: 35px;
  }

  .valuespage{
    .pageheader{
      max-width: 100%;
    }
    .valueblocks{
      max-width: 1000px;
      width: min(60%,250px);
      height: 100%;
      margin-top: 60px;
      margin-left: 5%;
      margin-right: 0;
      border: none;
      grid-template-rows: repeat(4,1fr);
      grid-template-columns: 1fr;
  
      .smallinfo{
        max-width: 100%;
      }
      .squares{
        margin-top: 10px;
        margin-left: 100%;
        .square{
          align-self: center;
          margin-top: 7px;
        }
        display: flex;
        flex-direction: column;
      }
  
      .valueblock{

        height: 160px;
        width: 100%;
        padding-top: 20px;
        padding-left: 22px;
        padding-right: 22px;
        border: none;
        border-top: 2px solid #ABB9CA;

      }

      .num2{
        margin-top: 0px;
        margin-left: 10vw;
      }
      .num3{
        margin-top: 0px;
        margin-left: 28vw;
        margin-right: auto;
      }
      .num4{
        margin-top: 0px;
        margin-left: 20vw;}
  
      .valsquare{
        width: 4%;
        height: 0;
        padding-top: 4%;
        border: 2px solid rgba(55, 60, 66, .4);
        position: absolute;
        top: auto;
        bottom: 100%;
        left: 100%;
      }
    }
  }

  .FAQpage .FAQgrid{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
  }

  .linkspage {
    .title{
      margin-left: 0;
      text-align: center;
    }
    .header  {
      margin-left:0; 
      flex-direction: column;
  
      .menu ul {
        flex-direction: row;
        align-self: center;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .pageheader h2{
    font-size: 30px;
  }
  
  .pics{
    display:grid;
    align-self: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr,6);
    padding-top: 0;
  }

  .yellowfield {
    .proc01,.proc03,.proc05{
      margin-left: 5%;
      justify-content: left;}
    .proc02,.proc04,.proc06{
      margin-left: 0;
      justify-content: right;
      margin-right: 5%;}
  }

  .bluefield{
    .bppic{
      max-width: 90%;
      margin-left: 5%;
      img{
      width: 100%;
      height: auto;
      align-self: center;
      }
    }
    .quote1{
      width: 60%;
      top:auto;
      bottom: 33%;
      left: 3%;
    }
    .quote2{
      width: 60%;
      top:auto;
      bottom: 17%;
      left: 37%;
    }
  }

}

@media screen and (max-width: 480px) { 

  .slogan ul {
    flex-direction: column;
    align-self: center;

    li{
      margin: 2px;
      align-self: center; }
  }
  .mainpage 
  {
    h1{
    font-size: 35px; 
    line-height: 37.5px; 
    padding-right: 2.2%;
    padding-left: 2.2%;
  }

    .maininfo{
      padding-left: 10%;
      padding-right: 10%;
    }

    p {
      display: flex;
      flex-direction: column;
      align-self: center;
    }

    #btn-left{
      margin-right: 0;
    }
    #btn-right{
      margin-top: 15px;
      margin-left:0;
    }
  }

  .bluefield{
    .quote1{
      width: 75%;
      bottom: 20%;
      left: 2%;
    }
    .quote2{
      width: 75%;
      bottom: 5%;
      left: 22%;
    }
  }

  .valuespage .valueblocks{
    .num2{
      margin-left: 10%;
    }
    .num3{
      margin-left: 28%;
    }
    .num4{
      margin-left: 20%;}
  }

  .FAQpage {
    .categories div{
        font-size: 14px;
        padding-left: 1.389%;
        line-height: 20px;
        text-transform: uppercase;
      }
    .FAQgrid .faq {
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 15px;
      padding-right: 15px;
      label{
        background-position: 99% center;
      }
    }
  }

  .contactpage .contactcards{
    .contact{
    padding-left: 10px;
    padding-right: 10px;
      .conttitle{
        padding-left: 20px;
      }
      .circle{
        width: 40px;
        height: 40px;
      }
    }
    .contact.c01 .input-form input,.contact.c01 .input-form textarea{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .linkspage {
    margin-right: 10%;
    .title{
      margin-left:5%;
      text-align: center;
    }
    .header .menu ul {
        flex-direction: column;
    }
  }
}
