
body {
  font-family: 'Roboto', sans-serif;
  color: #9181FF;
  background-color: #141414;
  font-size: 16px; 
  font-weight: 400; 
  line-height: 25px; 
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

legend {
  margin-left: 50%;
  color: #9181FF;
  font-weight: 600;
  text-decoration:underline;
  padding: 6px 10px;
  font-size: 22px;
  border-radius: 5px;
}

fieldset {
  border-radius: 5px;}

.biglabel{
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 10px ;
}

label:not(.biglabel){
  font-style:italic;}

form {
  width: 400px;
  margin: 10px auto;
  padding: 10px 20px;
  padding-bottom: 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.wrapper{
  margin-bottom: 20px;
}

select {
  width: 100%;
  background-color: #141414;
  color:#F8FE91;
  font-size: 16px;
  padding: 8px;
  height: 36px;
  border: none;
  border-radius: 5px;
}

.radioform {
	display: inline-block;}

.radioform input {
	display: none;}

.radioform label {
	display: inline-block;
	padding: 5px 15px;
  margin-right: 5px;
	border: 1px solid #141414;
	border-radius: 5px;
}
.radioform input:checked + label {
	background: #141414;
  color:#F8FE91;
}

.radioform label:hover {
	color: #141414;}

.radioform input:disabled + label {
	background: inherit;
	color: #cdcdcd;
  border-color: #cdcdcd;
}

.button {
  width: 100%;
  color: #141414;
  background-color: #F8FE91;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid #8372F0;
  box-shadow: 0 -4px 0 #8372F0 inset;
  margin-bottom: 10px;
  padding: 19px 39px;
}

.button:hover {
  color: #F8FE91;
  background-color: #8372F0;
  border-color: #141414;
  box-shadow: 0 -4px 0 #141414 inset;
}

#result{
  display: none;
  font-size: 18px;
  line-height: 30px;
  width: 500px;
  position: absolute;
  top: 30%;
  margin-left: auto;
  left:0;
  margin-right: auto;
  right: 0;
  padding: 10px 20px;
  padding-bottom: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  box-shadow: 0 0 0 200vw rgba(0, 0, 0, 0.7); 
  .wrapper{
    text-indent: 5%;
    margin-bottom: 10px;
  }
  #resultText{
    color: #141414;
    font-style: italic;
    font-weight: 600;
  }
  opacity: 0;
  animation: appear 0.5s forwards;
}
@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}